﻿@model IEnumerable<INF272_del3.Models.Subhurb>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SubhurbName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.City.CityName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SubhurbName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.City.CityName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.SubhurbID }) |
            @Html.ActionLink("Details", "Details", new { id=item.SubhurbID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.SubhurbID })
        </td>
    </tr>
}

</table>
