﻿@model INF272_del3.Models.User

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>User</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Userpassword)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Userpassword)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Account_Type.AccDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Account_Type.AccDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Image.ImgSource)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Image.ImgSource)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Security_Questions.Security_QuestionPhrase)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Security_Questions.Security_QuestionPhrase)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.UserID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
