﻿@model IEnumerable<INF272_del3.Models.User>

@{
    ViewBag.Title = "Index";
}
<head>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.3/jspdf.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/3.5.6/jspdf.plugin.autotable.min.js"></script>
</head>

<style>

    .modal-header, h5, .close {
        background-color: steelblue;
        color: white !important;
        text-align: center;
        font-size: 20px;
    }

    .modal-footer {
        background-color: #f9f9f9;
    }
</style>
<body>
    <div class="navbar bg-primary navbar-expand-lg navbar-fixed-top" style="margin-bottom:5rem">
        <div style="padding:4px">
            <a class="navbar-brand" href="#">
                <img src="~/Pictures/Logo2.jpg" alt="logo" style="width:75px;border-radius: 15px;">
            </a>

        </div>
        <div style="margin-top:0.2rem; margin-left:77%">
            <span class="navbar-text" style="padding-right:1rem">
                Admin
            </span>
            <span> <i class="glyphicon glyphicon-user" style="font-size:35px;cursor:pointer "></i></span><span style="padding-left:1.3rem"> <i class="glyphicon glyphicon-signal" style="font-size:35px;cursor:pointer " onclick="location.href='@Url.Action("Index", "AdminReport")'"></i></span>
            <span style="padding-left:2rem;font-size:25px;cursor:pointer" class="glyphicon glyphicon-log-out" data-toggle="modal" data-target="#logout"></span>
        </div>
    </div>

    <div class="modal fade" id="logout" tabindex="-1" role="dialog" aria-labelledby="logoutCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteLongTitle">Logout</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Would you like to logout?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-secondary" onclick="location.href='@Url.Action("Index", "Login")'">Confirm</button>
                </div>
            </div>
        </div>
    </div>
    <br />





    @*<p>
        @Html.ActionLink("Create New", "Create")
    </p>*@

    @using (Html.BeginForm())
    {
        <div class="container" >
            Find by name: @Html.TextBox("SearchString")
            <input type="submit" value="Search" />
            <span class="glyphicon glyphicon-search"></span>
        </div>
    }
    <div class="container" style="padding-bottom:2rem">
        <table class="table table-hover" id="simple_table" style="margin-left: auto;">

            <tr>
                <th>
                    @Html.ActionLink("Username", "Index", new { sortOrder = ViewBag.NameSortParm })
                </th>
                <th>
                    @Html.ActionLink("Email", "Index", new { sortOrder = ViewBag.EmailSortParm })
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UserStatus)
                </th>
                <th>
                    Account Type
                </th>

                <th></th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @if (item.UserStatus == true)
                        {
                            <p>Enabled</p>
                        }
                        else
                        {
                            <p>Disabled</p>
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Account_Type.AccDescription)
                    </td>

                    <td><button type="button" class="btn btn-secondary btn-sm" data-toggle="modal" data-target="#exampleModalCenter">Disable</button></td>
                    <td><button type="button" class="btn btn-secondary btn-sm" data-toggle="modal" data-target="#delete">Delete</button></td>

                </tr>

                <div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="deleteCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="deleteLongTitle">Delete Account</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                Are you sure you would like to delete the account?
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                @*<button type="button" class="btn btn-secondary" data-dismiss="modal">Confirm</button>*@ @Html.ActionLink("Delete", "Delete", new { id = item.UserID })
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLongTitle">Disable Account</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                Are you sure you would like to disable this account?
                            </div>
                            @*<div class="modal-body center-block text-center text-info">
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <label class="input-group-text" for="inputGroupSelect01">Reason for disabling</label>
                                        </div>
                                        <select class="custom-select" id="inputGroupSelect01" required>
                                            <option selected required>Choose...</option>
                                            <option value="1">Violent Content</option>
                                            <option value="2">Harmful Acts</option>
                                            <option value="3">Spam</option>
                                            <option value="4">Offensive Pictures</option>
                                        </select>
                                    </div>
                                </div>*@
                            <div class="modal-footer">
                                @*<button type="button" class="btn btn-secondary" data-dismiss="modal">Confirm</button>*@ @Html.ActionLink("Disable", "Edit", new { id = item.UserID })
                            </div>
                        </div>
                    </div>
                </div>

            }

        </table>
        <br />





    </div>
    <div style="padding-bottom:9rem">
        <div style="float:right;">
            <button class="btn btn-primary btn-sm " style="width:109px" onclick="location.href='@Url.Action("Index", "AdminBus")'">Edit Categories</button>

            <div style="padding-top:1rem">
                <button class="btn btn-primary btn-sm " id="btnExport" style="width:109px" onclick="generate()">Download Report</button>

            </div>

        </div>
    </div>




    @*<div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="deleteCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="deleteLongTitle">Delete Account</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Confirm deleting of the account
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Confirm</button> @Html.ActionLink("Delete", "Delete", new { id = item.UserID })
                    </div>
                </div>
            </div>
        </div>*@

    <div class="modal fade" id="reported" tabindex="-1" role="dialog" aria-labelledby="reportedCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteLongTitle">Reported Account</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    This account was reported due to: <b>Harmful Content.</b>
                    Investigate and take appropriate action.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Confirm</button>
                </div>
            </div>
        </div>
    </div>

</body>
<script type="text/javascript">
    function generate() {
        var doc = new jsPDF('p', 'pt', 'letter');
        
        var htmlstring = '';
        var tempVarToCheckPageHeight = 0;
        var pageHeight = 0;
        pageHeight = doc.internal.pageSize.height;
        specialElementHandlers = {
            // element with id of "bypass" - jQuery style selector
            '#bypassme': function (element, renderer) {
                // true = "handled elsewhere, bypass text extraction"
                return true
            }
        };
         
        margins = {
            top: 150,
            bottom: 60,
            left: 40,
            right: 40,
            width: 600
        };
        var y = 20;
        doc.setLineWidth(2);
        doc.text(250, y = y + 30, "List of LINK users");
        doc.autoTable({
            html: '#simple_table',
            startY: 70,
            theme: 'grid',
            
            columnStyles: {
                0: {
                    cellWidth: 70,
                },
                1: {
                    cellWidth: 150,
                },
                2: {
                    cellWidth: 150,
                }
            },
            styles: {
                minCellHeight: 40
            }
        })
        doc.save('Marks_Of_Students.pdf');
    }
</script>  