﻿@model INF272_del3.Models.User
@{
    ViewBag.Title = "Index";
}



<head>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>


    <style>

        .modal-header, .close {
            background-color: #5cb85c;
            color: white !important;
            text-align: center;
            font-size: 30px;
        }

        .modal-footer {
            background-color: #f9f9f9;
        }
    </style>

</head>


<div class="row " style="padding-bottom:7rem">

    <div class="text-center">
        <img style="width:40%; height:40%;margin-right:7%" src="~/Pictures/Logo2.jpg" />
    </div>
</div>
<div class="text-center" style="padding-bottom:4rem">
    <di>
        <button class="btn btn-primary" style="width:100px" data-toggle="modal" data-target="#myModal">Sign in</button>
    </di>
</div>
<div class="text-center">
    <h3>Don't have an account?</h3>

</div>
<div class="text-center" style="padding-top:1rem">
    <a href='@Url.Action("Create", "Registration")'><h4>Register here</h4></a>
    @*<button style="width:200px;margin:1rem" class="btn btn-primary" onclick="location.href='@Url.Action("FLUserReg", "UserRegistration")'">Freelancer</button>
        <button style="width:200px;margin:1rem" class="btn btn-primary" onclick="location.href='@Url.Action("UserRegistration", "UserRegistration")'">Employer</button>*@

</div>

<div class="container" style="padding-bottom:12rem">


    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header" style="padding:35px 50px;">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4><span class="glyphicon glyphicon-lock"></span> Login</h4>
                </div>
                <div class="modal-body" style="padding:40px 50px;">
                    @using (Html.BeginForm("Login", "Login", FormMethod.Post))
                    {

                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true)
                        if (@ViewBag.Message != null)
                        {
                            <div style="border: 1px solid red">
                                @ViewBag.Message
                            </div>
                        }
                        
                        <div class="form-group">
                            <label for="usrname"><span class="glyphicon glyphicon-user"></span> Username</label>
                            @Html.TextBoxFor(a => a.UserName, new { @class = "form-control", @style = "width:300px;", required = "required" })
                        </div>
                        <div class="form-group">
                            <label for="psw"><span class="glyphicon glyphicon-eye-open"></span> Password</label>
                            @Html.PasswordFor(a => a.Userpassword, new { @class = "form-control", @style = "width:300px", required = "required" })
                        </div>




                        <button class="btn btn-success btn-block" type="submit"><span class="glyphicon glyphicon-off"></span> Login</button>
                    }
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-danger btn-default pull-left" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
                    <p>Not a member? <a href='@Url.Action("Create", "Registration")'>Sign Up</a></p>
                    
                </div>
            </div>

        </div>
    </div>
</div>
