﻿@model IEnumerable<INF272_del3.Models.EMP_Freelancer>

@{
    ViewBag.Title = "Book";
}

<h2>Book</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Name
        </th>
        <th>
            Occupation
        </th>
        <th>
            Date
        </th>
        <th>
            Rate
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Freelancert.Name)
                @Html.DisplayFor(modelItem => item.Freelancert.Surname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Freelancert.Business_Categoryt.Business_Categoty)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @*@Html.DropDownList("RateID", null, htmlAttributes: new { @class = "form-control" })*@
                <select name="rate" id="rate">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
            </td>
            <td>
                <a class="btn btn-primary" id="btnRebook" href="@Url.Action("Profiles", "Freelancerts", new { ID = item.FreelancerID })">Re-book</a>
                <input class="btn btn-primary" id="btnRebook" name="btnRebook" type="submit" value="Re-book" />
            </td>
        </tr>
    }

</table>