﻿
@model IEnumerable<INF272_del3.Models.PortfolioImage>
@*@model INF272_del3.Models.EmailFormModel*@
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="~/Content/ViewFree.css" rel="stylesheet" />
    <style>

        .modal-header, h5, .close {
            background-color: steelblue;
            color: white !important;
            text-align: center;
            font-size: 20px;
        }

        .modal-footer {
            background-color: #f9f9f9;
        }


        .pic {
            margin: 5px;
        }

        .myImages:hover {
            transform: scale(1.1);
        }
    </style>
</head>

<body>
    <div class="navbar bg-primary navbar-expand-lg navbar-fixed-top">
        <div style="padding:4px">
            <a class="navbar-brand" href="#">
                <img src="~/Pictures/Logo2.jpg" alt="logo" style="width:75px;border-radius: 15px;">
            </a>
        </div>
        <div style="margin-top:0.2rem; margin-left:55%">
            <span class="navbar-text" style="padding-right:1rem">

                @*<label>@ViewBag.fl.Name @ViewBag.fl.Surname:</label>
                    <label>@ViewBag.fl.Business_Category.Business_Categoty, </label>
                    <label>@ViewBag.fl.Subhurb.SubhurbName, @ViewBag.city </label>*@

            </span>
            @*<span>  <img src="@Url.Content(ViewBag.user.Image.ImgSource) " style="width:50px;border-radius:50%" /></span>*@
            <span style="padding-left:40rem;font-size:20px;cursor:pointer;margin-top:1rem" class="glyphicon glyphicon-log-out" data-toggle="modal" data-target="#logout"></span>
        </div>
    </div>
    <div class="container" style="padding-top:4rem">


        <div class="modal fade" id="logout" tabindex="-1" role="dialog" aria-labelledby="logoutCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="deleteLongTitle">Logout</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Would you like to logout?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        <button type="button" class="btn btn-secondary" onclick="location.href='@Url.Action("Index", "Login")'">Confirm</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div style="padding-bottom:1rem;margin-top:2rem" class="col-lg-1">

                <div>
                    <img src="@Url.Content(ViewBag.user.Image.ImgSource) " style="width:120px;height:120px;border-radius:50%" />

                </div>
            </div>
            <div style="padding-bottom:1rem;margin-top:2rem;" class="col-lg-11">

                <div style="margin-left:3rem;margin-top:2rem">
                    <label>@ViewBag.fl.Name @ViewBag.fl.Surname</label>
                    <br />
                    <label>@ViewBag.fl.Business_Category.Business_Categoty </label>
                    <br />
                    <label> @ViewBag.city: @ViewBag.fl.Subhurb.SubhurbName  </label>

                </div>
            </div>
        </div>

        <div class="row" style="padding-top:7rem">

            <div class="col-md-6" style="margin-top:1rem;">
                <div style="border:solid;width:75%;height:200px;border-radius:10px;border-color:lightgray">
                    <p style="width:40rem;padding-left:1rem;padding-top:1rem">
                        @*@Html.DisplayFor(model => model.PortfolioConcept)*@
                        @ViewBag.fl.PortfolioConcept
                    </p>
                </div>
            </div>
            <div class="col-md-6">

                <div class="d-flex flex-row">
                    @foreach (var item in Model)
                    {
                        <div class="col-md-4">
                            <img id="myImg" style="width:150px;height:100px;transition: transform 0.8s;cursor:pointer" class=" myImages img-fluid " src="@Url.Content(item.Image.ImgSource) " />
                        </div>

                    }




                    <div class="col-md-4">
                        <img src="" style="width:50px;border-radius:50%" />

                    </div>

                </div>
            </div>

        </div>
        <div style="padding-bottom:4%;margin-left:92rem;margin-top:4rem;">
            <button style="width:110px" class="btn btn-primary " onclick="location.href='@Url.Action("PotentialFreelancer", "Employer", new {id =  ViewBag.fl.BusinessCategoryID, h = ViewBag.eID})'">Back</button>
            <button class="btn btn-success" style="width:100px" data-toggle="modal" data-target="#Book" @*onclick="location.href='@Url.Action("Index", "Booking", new {id =  ViewBag.fl.FreelancerID, ide = ViewBag.eID})'"*@>Enquire</button>
            @*<button type="button" class="btn btn-secondary btn-sm" data-toggle="modal" data-target="#email">Delete</button>*@
        </div>

    </div>

    @using (Html.BeginForm("Index", "Booking", FormMethod.Post))
    {
        <div class="modal fade" id="Book" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h2 class="modal-title" id="exampleModalLabel">Booking Request</h2>
                        <h6 class="modal-title" id="exampleModalLabel">Please enter a description of the work required as well as times you would like the work to take place. If you have an urgent request please use the urgent button.</h6>

                    </div>
                    <div class="modal-body">
                        <form>
                            <input name="ide"  hidden type="number" value="@ViewBag.eID" />
                            <input name="id" hidden  type="number" value="@ViewBag.fl.FreelancerID"/>
                            <div class="form-group">
                                <label for="message-text" class="col-form-label">Message:</label>
                                <textarea class="form-control" id="message-text" name="message"></textarea>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Send Booking Request</button>
      
                        <a class="btn btn-secondary"  href='@Url.Action("Contact", "Emailing", new { id = ViewBag.fl.FreelancerID, ide = ViewBag.eID})'>Urgent Request</a>
                    </div>
                </div>
            </div>
        </div>

    }

        @*<div class="modal fade" id="email" tabindex="-1" role="dialog" aria-labelledby="deleteCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="deleteLongTitle">Enquire</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">

                            @using (Html.BeginForm())
                            {
                                @Html.AntiForgeryToken()
                                <h4>Send your comments.</h4>
                                <hr />
                                <div class="form-group">
                                    @Html.LabelFor(m => m.FromName, new { @class = "col-md-2 control-label" })
                                    <div class="col-md-10">
                                        @Html.TextBoxFor(m => m.FromName, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(m => m.FromName)
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(m => m.FromEmail, new { @class = "col-md-2 control-label" })
                                    <div class="col-md-10">
                                        @Html.TextBoxFor(m => m.FromEmail, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(m => m.FromEmail)
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(m => m.Message, new { @class = "col-md-2 control-label" })
                                    <div class="col-md-10">
                                        @Html.TextAreaFor(m => m.Message, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(m => m.Message)
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-offset-2 col-md-10">
                                        <input type="submit" class="btn btn-default" value="Send" />
                                    </div>
                                </div>
                            }

                            @section Scripts {
                                @Scripts.Render("~/bundles/jqueryval")
                            }


                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>

                        </div>
                    </div>
                </div>
            </div>*@



        <div id="myModal" class="modal">
            @*<span class="close glyphicon glyphicon-remove" style="margin-top:5rem"></span>*@
            <span style="position:absolute;top:100px;font-size:75px" class="close ">&times;</span>


            <img class="modal-content" id="img01">

        </div>





        <script>
            function myFunction() {
                alert("Your concern has been noted. We will look into it. Thank you");
            }
            var modal = document.getElementById('myModal');
            // to all images -- note I'm using a class!
            var images = document.getElementsByClassName('myImages');
            // the image in the modal
            var modalImg = document.getElementById("img01");
            // and the caption in the modal
            var captionText = document.getElementById("caption");

            // Go through all of the images with our custom class
            for (var i = 0; i < images.length; i++) {
                var img = images[i];
                // and attach our click listener for this image.
                img.onclick = function (evt) {
                    modal.style.display = "block";
                    modalImg.src = this.src;

                }
            }
            $(function () {
                $(".close").on('click', function () {
                    $('#myModal').hide();
                });
            });

            var span = document.getElementsByClassName("close")[0];

            span.onclick = function () {
                modal.style.display = "none";
            }
        </script>
    </body>