﻿@model IEnumerable<INF272_del3.Models.Business_Category>
<head>
    <style>
        .zoom:hover {
            box-shadow: 0 10px 25px rgba(0,0,0,0.3);
            transform: scale(1.05);
        }
    </style>
</head>

@{

    int counter = 0;
}

<div class="navbar bg-primary navbar-expand-lg navbar-fixed-top">
    <div style="padding:4px">
        <a class="navbar-brand" href="#">
            <img src="~/Pictures/Logo2.jpg" alt="logo" style="width:75px;border-radius: 15px;">
        </a>
    </div>
    <div style="margin-top:0.2rem; margin-left:75%">
        <span class="navbar-text" style="padding-right:1rem">

            <label>@ViewBag.emp.Name @ViewBag.emp.Surname:</label>


        </span>
        <span>  <img src="@Url.Content(ViewBag.user.Image.ImgSource) " style="width:50px;border-radius:50%;height:50px" /></span>
        <span style="padding-left:2rem;font-size:20px;cursor:pointer;margin-top:1rem" class="glyphicon glyphicon-log-out" data-toggle="modal" data-target="#logout"></span>
    </div>
</div>

<div style="padding-bottom:1rem;padding-top:2rem">
    <div class="text-center">
        <h3>Select a category of work you are looking for</h3>
    </div>
    <div class="text-center">
        <a href='@Url.Action("PastBookings", "Employer", new {id = ViewBag.emp.EmployerID})'><h4>Previous Bookings</h4></a>
    </div>
</div>


<div class="row">
    <div style="width:100%;padding-top:1rem;padding-bottom:4rem">
        @foreach (var item in Model)
        {
            if (counter != 0 && counter % 3 == 0)
            {

            @:</div>
            @:<div class="row">
            }


            <div class="col-md-4" style="padding-bottom:1.5rem">

                <div class="text-center">
                    <button class="btn btn-lg zoom" onclick="location.href='@Url.Action("PotentialFreelancer", "Employer", new {ID = item.BusinessCategoryID, zzz = ViewBag.user.UserID })'"
                            style="width:300px;height:180px;background-image:url('@Url.Content(item.Image.ImgSource)'); background-repeat:no-repeat;
                            background-size:50%; background-size:cover;color:white;font-size:20px;transition: transform 0.8s; border-radius:14px ">
                        @Html.DisplayFor(modelItem => item.Business_Categoty)
                    </button>
                </div>
            </div>

        }
    </div>
</div>




<div class="modal fade" id="logout" tabindex="-1" role="dialog" aria-labelledby="logoutCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteLongTitle">Logout</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Would you like to logout?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-secondary" onclick="location.href='@Url.Action("Index", "Login")'">Confirm</button>
            </div>
        </div>
    </div>
</div>















@*<style>
        .zoom:hover {
            -ms-transform: scale(1.5);
            -webkit-transform: scale(1.5);
            transform: scale(1.5);
        }
    </style>*@


<!--Modal to logout-->
@*<div class="container">
    <div>
        <span style="margin-left:96%; margin-top:2rem; font-size:20px" class="glyphicon glyphicon-lock" data-toggle="modal" data-target="#logout"></span>

        <div class="modal fade" id="logout" tabindex="-1" role="dialog" aria-labelledby="logoutCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h3 class="modal-title" id="deleteLongTitle">Do you want to log out?</h3>
                    </div>
                    <div class="modal-body">
                        You will loose all unsaved work if you log out. Press 'Cancel' to return to page or 'Confirm' to continue.
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        <button type="button" class="btn btn-secondary" onclick="location.href='@Url.Action("Login", "Login")'">Confirm</button>
                    </div>
                </div>
            </div>
        </div>
    </div>*@


@*<div class="row" style="padding-bottom:50px">

        <div class="col-md-7">
            <div>
                <img style="width:50%; height:50%;" src="~/Pictures/Logo2.jpg" />
            </div>
        </div>

        <div class="col-md-5">
            <i class="glyphicon glyphicon-user" style="font-size:100px; margin-bottom:1rem;"></i>
            <div style="float:left;margin-top:4rem;margin-left:20rem; margin-right:2rem;">
                <h4> Welcome</h4>
                <h5>
                </h5>
            </div>
        </div>

    </div>

    <div class="text-center" style=" color:purple">
        <h3>Select a category of work you are looking for:</h3><br /><br />

    </div>*@

@*@foreach (var item in Model)
        {
            <div class="row" style="padding-top:2rem; display:inline-block; margin-right:2rem; margin:auto; position:relative">
                <div class="col-md-4">

                    <div class="text-center">
                        <button class="btn btn-lg zoom" onclick="location.href='@Url.Action("Index", "Freel", new {ID = item.BusinessCategoryID})'"
                                style="width:300px;height:180px;background-image: url(/Pictures/plumb.jpg); background-repeat:no-repeat;
                                                            background-size:50%; background-size:cover;color:darkgray;font-size:20px;transition: transform 0.8s; border-radius:14px ">
                            //<span>
                                    @if (item.Business_Categoty.ImageID == null)
                                    {
                                        <h1>jj</h1>
                                    }
                                    else
                                    {
                                        <img src="@Url.Content(item.Business_Categoty.Image.ImgSource)" />
                                    }
                                </span>//
                            @Html.DisplayFor(modelItem => item.Business_Categoty)
                        </button>
                    </div>
                </div>
            </div>
        }
    </div>*@
