﻿@model IEnumerable<INF272_del3.Models.EMP_Freelancer>

    <head>
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0/dist/Chart.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.3/jspdf.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/3.5.6/jspdf.plugin.autotable.min.js"></script>
    </head>
<h2>Past Bookings</h2>


<table id="table" class="table table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Freelancer.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Freelancer.Surname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            Email
        </th>
        <th>
            Business category
        </th>
        <th>
            Suburb
        </th>
        <th>
            City
        </th>


        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Freelancer.Name)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Freelancer.Surname)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Date)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Freelancer.User.Email)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Freelancer.Business_Category.Business_Categoty)

    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Freelancer.Subhurb.SubhurbName)

    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Freelancer.Subhurb.City.CityName)
    </td>
</tr>
}

</table>
<br />
<div style="margin-left:90%;padding-bottom:19rem">
    <div>
        <button onclick="location.href='@Url.Action("Index", "Employer", new {id = ViewBag.user})'" class="btn btn-primary">Back</button>
    </div>
    <div style="padding-top:1rem">
        <button  class="btn btn-primary"style="width:6rem" onclick="downloadPDF()">Print</button>
    </div>
</div>
<script>
   function downloadPDF() {

                    var doc = new jsPDF()
                    doc.autoTable({ html: '#table' })
                    doc.save('PastBookings.pdf')

            }
</script>
