﻿@model IEnumerable<INF272_del3.Models.Freelancer>

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>

        .card {
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
            max-width: 300px;
            margin: auto;
            text-align: center;
            font-family: arial;
            border-radius: 15px;
        }

        .title {
            color: grey;
            font-size: 13px;
        }

        #button {
            border: none;
            border-radius: 25px;
            outline: 0;
            display: inline-block;
            padding: 8px;
            margin-bottom: 1rem;
            text-align: center;
            cursor: pointer;
            width: 80%;
            font-size: 18px;
        }

        a {
            text-decoration: none;
            font-size: 22px;
            color: black;
        }

            button:hover, a:hover {
                opacity: 0.7;
            }
    </style>
</head>
@{

    int counter = 0;
}

<div class="text-center">
    <img style="width:30%; height:30%;margin-right:6rem" src="~/Pictures/Logo2.jpg" />
</div>
<div class="center" style="width:100%; text-align:center;">
    <h3 style="color:purple">Take your pick! Here are South Africa's </h3>
    <h3 style="color:purple">  @ViewBag.title 's :</h3>

</div>
<hr />
<div class="row">
    <div style="width:100%;padding-top:1rem;padding-bottom:4rem">
        @foreach (var item in Model)
        {
            if (counter != 0 && counter % 3 == 0)
            {

            @:</div>
            @:<div class="row">
            }


            <div class="col-md-4" style="padding-bottom:1.5rem">

                <div class="card" style="width:200px">
                    <div style=" background: linear-gradient(to right, #2193b0, #6dd5ed);padding:2rem;border-top-left-radius:15px;border-top-right-radius:15px;width:200px">
                        <img src="@Url.Content(item.User.Image.ImgSource) " style=" border-radius: 50%;  width: 75px; height: 75px">
                    </div>

                    <h3> @Html.DisplayFor(modelItem => item.Name) @Html.DisplayFor(modelItem => item.Surname)</h3>
                    <i class="glyphicon glyphicon-home"></i>
                    <p>@Html.DisplayFor(modelItem => item.Subhurb.City.CityName)</p>
                    <p class="title">@Html.DisplayFor(modelItem => item.Subhurb.SubhurbName)</p>
                    <div style="margin: 24px 0; ">

                    </div>
                    <p><button class="btn btn-info" id="button"  onclick="location.href='@Url.Action("freeProfile", "Employer", new {id = item.UserID})'">view Profile</button></p>
                </div>

            </div>

        }
    </div>
              <div style="margin-top:30rem;margin-left:1000px">
                  <button class="btn btn-primary"  onclick="location.href='@Url.Action("Index", "Employer", new {id = ViewBag.zzz})'">Back</button>
              </div>
</div>

