﻿@model IEnumerable<INF272_del3.Viewmodels.chart>

<head>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" />
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0/dist/Chart.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.3/jspdf.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/3.5.6/jspdf.plugin.autotable.min.js"></script>


</head>
<body style="background-color:azure">

    <div class="navbar bg-primary navbar-expand-lg navbar-fixed-top">
        <div style="padding:4px">
            <a class="navbar-brand" href="#">
                <img src="~/Pictures/Logo2.jpg" alt="logo" style="width:75px;border-radius: 15px;">
            </a>
        </div>
        <div style="margin-top:0.2rem; margin-left:90%">
            <span style="padding-left:1.3rem"> <i class="glyphicon glyphicon-chevron-left" style="font-size:20px;cursor:pointer " onclick="location.href='@Url.Action("Index", "Users")'"></i></span>
            <span style="padding-left:2rem;font-size:20px;cursor:pointer;margin-top:1rem" class="glyphicon glyphicon-log-out" data-toggle="modal" data-target="#logout"></span>
        </div>
    </div>

    <div class="row" style="margin-left:4rem;padding-top:4rem">

        <div class="col-lg-4 ">
            <div style=" box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
                 background-color:white;width:75%;height:14rem">
                <div style="margin-left:1rem;padding-top:0.5rem">
                    <p style="font-family:Bahnschrift, Tahoma, Geneva, Verdana, sans-serif;font-weight:bold;font-size:17px">TOTAL USERS</p>
                    <i style="margin-top:2rem;font-size:40px;color:cornflowerblue" class="fas fa-users"></i> <span style="font-size:35px;margin-left:10rem;color:cornflowerblue"> @ViewBag.user</span>
                </div>
            </div>
        </div>

        <div class="col-lg-4">
            <div style=" box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
                 background-color:white;width:75%;height:14rem">
                <div style="margin-left:1rem;padding-top:0.5rem">
                    <p style="font-family:Bahnschrift, Tahoma, Geneva, Verdana, sans-serif;font-weight:bold;
                       font-size:17px">TOTAL FREELANCERS</p>
                    <i style="margin-top:2rem;font-size:40px;color:mediumpurple" class="fas fa-tools"></i> <span style="font-size: 35px;margin-left: 10rem;color: mediumpurple"> @ViewBag.Freelancer</span>
                </div>
            </div>
        </div>

        <div class="col-lg-4">
            <div style="        box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
        background-color: white;
        width: 75%;
        height: 14rem">
                <div style="margin-left:1rem;padding-top:0.5rem">
                    <p style="font-family: Bahnschrift, Tahoma, Geneva, Verdana, sans-serif;
                           font-weight: bold; font-size: 17px">TOTAL EMPLOYERS</p>
                    <i style="margin-top:2rem;font-size:40px;color:seagreen" class="fas fa-hand-holding-usd"></i> <span style="font-size: 35px;margin-left: 10rem;color: seagreen"> @ViewBag.Employer</span>
                </div>
            </div>
        </div>

    </div>

    <br />
    <div class="row">
        <div class=" col-md-6">
            <div>
                <h4 style="font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif">Table of employers:</h4>
            </div>
        </div>
        <div class=" col-md-6">
            <div>
                <h4 style="font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif">Chart of freelancers:</h4>
            </div>
        </div>
    </div>

    <div class="row" style="padding-top:0rem;margin-right:1rem;">

        <div class="col-lg-6">

            <div style=" box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);background-color:white;width:100%;height:330px;overflow:auto;">

                <div class="form-inline">
                    <div class="form-group ">

                        @Html.DropDownList("ProvinceID", null, htmlAttributes: new { @class = "form-control", @style = "width:250px;margin-left:4.5rem;padding-top:1rem;border-radius:15px" })
                    </div>
                    <span class="btn btn-group" style="margin-left:11rem">
                        <button class="btn btn-info" id="submit"><i class="glyphicon glyphicon-search"></i></button>
                        <button class="btn btn-success" id="save" onclick="downloadPDF()"> <i class="glyphicon glyphicon-download"></i></button>
                    </span>
                </div>



                <table id="tableData" class="table table-hover table-bordered table-striped">


                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Surname</th>
                            <th>Suburb</th>
                            <th>City</th>


                        </tr>

                    </thead>
                    <tbody>
                    </tbody>
                </table>


            </div>

        </div>

        <div class="col-lg-6">

            <div style=" box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);background-color:white;width:100%;height:330px">
                <div class="form-inline">
                    <div class="form-group ">

                        @Html.DropDownList("BusinessCategoryID", null, htmlAttributes: new { @class = "form-control", @style = "width:250px;margin-left:4.5rem;padding-top:1rem;border-radius:15px", @id = "UniqueID1234" })
                    </div>
                    <span class="btn btn-group" style="margin-left:11rem">
                        <button class="btn btn-info" id="submitt"><i class="glyphicon glyphicon-search"></i></button>
                        <button class="btn btn-success" id="save" onclick="getPDF()"> <i class="glyphicon glyphicon-download"></i></button>
                    </span>
                </div>
                <div id="chartholder">
                    <canvas id="myChart" width="400" height="400"></canvas>
                </div>
            </div>

        </div>
    </div>
    <input type="hidden" id="customInput" data-value="@ViewBag.name" />




    <script>
            $(() => {
                $('#submit').click(function () {

                    var input = parseInt($("#ProvinceID").val());
                    $("#tableData tbody").empty();

                    $.ajax({
                        url: '/AdminReport/table',
                        type: "POST",
                        dataType: "json",
                        contentType: "application/json; charset=utf-8",
                        data: JSON.stringify({ "ProvinceID": input }),
                        success: function (data) {
                            console.log(data);
                            $.each(data, function (i, item) {

                                var rows = "<tr>" + "<td class ='films'>" + item.Name + "</td>"
                                    + "<td class ='films'>" + item.Surname + "</td>" + "<td class ='films'>" + item.SubhurbName + "</td>" + "<td class ='films'>" + item.CityName + "</td>" + "</tr>"

                                $("#tableData tbody").append(rows);

                            })


                        }
                    });
                });






                $('#submitt').click(function () {
                    document.getElementById("chartholder").innerHTML = '&nbsp;';
                    document.getElementById("chartholder").innerHTML = '<canvas id="myChart"></canvas>';
                    var input = parseInt($("#UniqueID1234").val());

                    $.ajax({
                        url: '/AdminReport/ChartData',
                        type: "POST",
                        dataType: "json",
                        contentType: "application/json; charset=utf-8",
                        data: JSON.stringify({ "BusinessCategoryID": input }),
                        success: function (data) {
                            console.log(data);
                            let x = []
                            let y = []
                            data.map((item) => {
                                y.push(item.Total);
                                x.push(item.CityName);
                            });

                            //for (var x in data) {
                            //    x.push(data[x].CityName);
                            //    y.push(data[x].Total)
                            //}
                            var ctx = $("#myChart");
                            var myChart = new Chart(ctx, {
                                type: 'bar',
                                data: {
                                    labels: x,
                                    datasets: [{
                                        label: '# of selected freelancer in provinces',
                                        data: y,
                                        backgroundColor: [
                                            'rgba(255, 99, 132, 0.2)',
                                            'rgba(54, 162, 235, 0.2)',
                                            'rgba(255, 206, 86, 0.2)',
                                            'rgba(75, 192, 192, 0.2)',
                                            'rgba(153, 102, 255, 0.2)',
                                            'rgba(255, 159, 64, 0.2)',
                                            'rgba(255, 99, 132, 0.2)',
                                            'rgba(54, 162, 235, 0.2)',
                                            'rgba(255, 206, 86, 0.2)',
                                            'rgba(75, 192, 192, 0.2)',
                                            'rgba(153, 102, 255, 0.2)',
                                            'rgba(255, 159, 64, 0.2)'
                                        ],
                                        borderColor: [
                                            'rgba(255, 99, 132, 1)',
                                            'rgba(54, 162, 235, 1)',
                                            'rgba(255, 206, 86, 1)',
                                            'rgba(75, 192, 192, 1)',
                                            'rgba(153, 102, 255, 1)',
                                            'rgba(255, 159, 64, 1)'
                                        ],
                                        borderWidth: 1
                                    }]
                                },
                                options: {
                                    scales: {
                                        yAxes: [{
                                            ticks: {
                                                beginAtZero: true
                                            }
                                        }]
                                    }
                                }
                            });




                        }
                    });


                });


            });

             function downloadPDF() {

                    var doc = new jsPDF()
                    doc.autoTable({ html: '#tableData' })
                    doc.save('table.pdf')

            }

            function getPDF() {
            var canvas = document.querySelector('#myChart');
            //creates image
            var canvasImg = canvas.toDataURL("image/png", 1.0);
            //creates PDF from img
            var doc = new jsPDF('landscape');
            doc.setFontSize(20);
            doc.text(15, 15, "Freelancer Chart");
            doc.addImage(canvasImg, 'JPEG', 10, 10, 280, 150);
            doc.save('Chart.pdf');
        };

    </script>
</body>
