﻿@model INF272_del3.Models.Business_Category

    <head>
        <style>
            [hidden] {
                display: none !important;
            }
        </style>
        <script>
            function readURL(input) {
                if (input.files && input.files[0]) {
                    var reader = new FileReader();

                    reader.onload = function (e) {
                        $('#ImageId')
                            .attr('src', e.target.result);
                    };

                    reader.readAsDataURL(input.files[0]);
                }
            }
        </script>
    </head>

<div class="navbar bg-primary navbar-expand-lg navbar-fixed-top" style="margin-bottom:5rem">
    <div style="padding:4px">
        <a class="navbar-brand" href="#">
            <img src="~/Pictures/Logo2.jpg" alt="logo" style="width:75px;border-radius: 15px;">
        </a>
    </div>
    <div style="margin-top:0.2rem; margin-left:80%">
        <span class="navbar-text" style="padding-right:1rem">
            Admin
        </span>
        <span> <i class="glyphicon glyphicon-user" style="font-size:35px;cursor:pointer "></i></span>
        <span style="padding-left:2rem;font-size:25px;cursor:pointer" class="glyphicon glyphicon-log-out" data-toggle="modal" data-target="#logout"></span>
    </div>
</div>

<div class="container" style="padding-top:4rem">


    <div class="modal fade" id="logout" tabindex="-1" role="dialog" aria-labelledby="logoutCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteLongTitle">Logout</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Would you like to logout?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-secondary" onclick="location.href='@Url.Action("Index", "Login")'">Confirm</button>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
       
        

        @using (Html.BeginForm("Create", "AdminBus", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()

        <div class="container" style="padding-bottom:1rem">
            <h2>Add Category</h2>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="form-group">
                <label>Category name:</label>

                @Html.EditorFor(model => model.Business_Categoty, new { htmlAttributes = new { @class = "form-control", @style = "width:200px" } })
                @Html.ValidationMessageFor(model => model.Business_Categoty, "", new { @class = "text-danger" })

            </div>

           <br />

            <div class="control-group">

                <div class="controls">
                    <div class="form-group">
                        
                        <label class="btn btn-primary">
                            <i class="glyphicon glyphicon-folder-open"></i><input type="file" name="file" onchange="readURL(this)" hidden>
                        </label><label style="margin-left:1rem">Upload photo</label>
                    </div>

                    <img id="ImageId" style="height:150px; width:170px; object-fit:fill; border-radius:15px; border:solid; color:lightgray" />
                </div>
            </div>
            <br />
            <div class="form-group" style="margin-left:1000px;margin-top:2rem">
                <div >
                    <input type="submit" value="Create" class="btn btn-default" style="width:100px" />
                </div>
            </div>
        </div>
        }
        <div style="margin-left:1018px">
            <button class="btn btn-default" style="width:100px" onclick="location.href='@Url.Action("Index", "AdminBus")'" >Back </button>
        </div>
    </div>
</div>