﻿@model INF272_del3.Models.Business_Category

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayName("Business category:")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Business_Categoty)
        </dd>

        <dt>
            @Html.DisplayName("Image:")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Image.ImgSource)

        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
