﻿@model INF272_del3.Models.Business_Category

@{
    ViewBag.Title = "Edit";
}

<div class="navbar bg-primary navbar-expand-lg navbar-fixed-top" style="margin-bottom:5rem">
    <div style="padding:4px">
        <a class="navbar-brand" href="#">
            <img src="~/Pictures/Logo2.jpg" alt="logo" style="width:75px;border-radius: 15px;">
        </a>
    </div>
    <div style="margin-top:0.2rem; margin-left:80%">
        <span class="navbar-text" style="padding-right:1rem">
            Admin
        </span>
        <span> <i class="glyphicon glyphicon-user" style="font-size:35px;cursor:pointer "></i></span>
        <span style="padding-left:2rem;font-size:25px;cursor:pointer" class="glyphicon glyphicon-log-out" data-toggle="modal" data-target="#logout"></span>
    </div>
</div>

<div class="row" style="padding-top:4rem">
    <div class="col-md-5">
        <h4 > Edit Business Catergory </h4>
    </div>
    <div class="container" style="padding-top:4rem">
        <div class="modal fade" id="logout" tabindex="-1" role="dialog" aria-labelledby="logoutCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="deleteLongTitle">Logout</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Would you like to logout?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        <button type="button" class="btn btn-secondary" onclick="location.href='@Url.Action("Login", "Login")'">Confirm</button>
                    </div>
                </div>
            </div>
        </div>
        
        @using (Html.BeginForm("Edit", "AdminBus", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">

                <hr />

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.BusinessCategoryID)

                <div class="form-group">
                   
                    <div class="col-md-10">
                        @Html.DisplayName("Business category")
                        @Html.EditorFor(model => model.Business_Categoty, new { htmlAttributes = new { @class = "form-control", @style ="width:200px" } })
                        @Html.ValidationMessageFor(model => model.Business_Categoty, "", new { @class = "text-danger" })
                    </div>
                </div>
                <br />

                <div class="form-group" style="margin-right:820px">
                   
                    <div class="col-md-10">
                        @Html.DisplayName("Image")
                        <input type="file" name="file" />
                    </div>
                </div>

                <div class="form-group" style="margin-left:960px">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Save" class="btn btn-default" style="width:106px" />
                    </div>
                </div>
            </div>
        }
    <div style="margin-left:1010px">
        <button class="btn btn-default" style="width:100px" onclick="location.href='@Url.Action("Index", "AdminBus")'">Back </button>
    </div>
    </div>
    </div>