﻿
@model IEnumerable<INF272_del3.Models.Business_Category>

@{
    ViewBag.Title = "Index";
}

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.22/pdfmake.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.min.js"></script>
<script type="text/javascript">
    function Export() {
        html2canvas(document.getElementById('table'), {
            onrendered: function (canvas) {
                var data = canvas.toDataURL();
                var docDefinition = {
                    content: [{
                        image: data,
                        width: 500
                    }]
                };
                pdfMake.createPdf(docDefinition).download("Table.pdf");
            }
        });
    }
</script>


<div class="navbar bg-primary navbar-expand-lg navbar-fixed-top" style="margin-bottom:5rem">
    <div style="padding:4px">
        <a class="navbar-brand" href="#">
            <img src="~/Pictures/Logo2.jpg" alt="logo" style="width:75px;border-radius: 15px;">
        </a>
    </div>
    <div style="margin-top:0.2rem; margin-left:80%">
        <span class="navbar-text" style="padding-right:1rem">
            Admin
        </span>
        <span> <i class="glyphicon glyphicon-user" style="font-size:35px;cursor:pointer "></i></span>
        <span style="padding-left:2rem;font-size:25px;cursor:pointer" class="glyphicon glyphicon-log-out" data-toggle="modal" data-target="#logout"></span>
    </div>
</div>


<div class="container" style="padding-top:4rem;padding-bottom:10rem">
    <div class="modal fade" id="logout" tabindex="-1" role="dialog" aria-labelledby="logoutCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteLongTitle">Logout</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Would you like to logout?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-secondary" onclick="location.href='@Url.Action("Index", "Login")'">Confirm</button>
                </div>
            </div>
        </div>
    </div>

    <div class="row" style="padding-top:1rem">
        <div class="col-md-5" style="padding-bottom:1.5rem">
            <h2 style=""> Current Business Catergories </h2>
        </div>


        <div class="container" >
            <table id="table" class="table  table-hover table-responsive"
                   style="margin-left: auto;padding-bottom:1rem">
                <tr>
                    <th>
                        Business catgories
                    </th>
                    <th>
                       # of freelancrs
                    </th>
                    <th>
                        Background
                    </th>
                    <th></th>

                </tr>

                @foreach (var item in Model)
                {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Business_Categoty)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Freelancers.Count)
                </td>
                <td>
                    <img src="@Url.Content(item.Image.ImgSource) " style="width:75px;height:60px" />
                </td>

                <td>

                    <button class="btn btn-success" onclick="location.href='@Url.Action("Edit", "AdminBus", new { id = item.BusinessCategoryID })'"><i class="glyphicon glyphicon-pencil"> </i>  </button>
                    <button class="btn btn-danger" onclick="location.href='@Url.Action("Delete", "AdminBus", new { id = item.BusinessCategoryID })'"><i class="glyphicon glyphicon-trash"> </i>  </button>

                </td>

            </tr>
                }
            </table>

        </div>
        <div >
            <div style="float:right;">
                <button class="btn btn-primary btn-sm " style="width:86px" onclick='window.location.href = "@Url.Action("Create")"'>Add New</button>
                <div style="padding-top:1rem">
                    <input type="button" id="btnExport" onclick="Export()" class="btn btn-primary btn-sm" value="Print Report">

                </div>
                <div style="padding-top:1rem">
                    <button class="btn btn-primary btn-sm " style="width:87px" onclick="location.href='@Url.Action("Index", "Users")'">Go Back</button>
                </div>


            </div>
        </div>
    </div>
</div>
