﻿@model IEnumerable<INF272_del3.Models.EMP_Freelancer>
    <head>
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" />

        <style>
            .tooltip-inner {
                max-width: 350px;
                /* If max-width does not work, try using width instead */
                width: 350px;
                height: 250px;
            }
        </style>
       
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.3/jspdf.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/3.5.6/jspdf.plugin.autotable.min.js"></script>

    </head>
<h2> Potential clients</h2>


<table id="table" class="table table-striped">
    <tr>
        <th></th>
        <th>
            @Html.DisplayNameFor(model => model.Employer.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Employer.Surname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            Message
        </th>
        <th>
            Email
        </th>
        <th>
            Suburb
        </th>
        <th>
            City
        </th>

    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                <img src="@Url.Content(item.Employer.User.Image.ImgSource) " style="width:50px;border-radius:50%" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Employer.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Employer.Surname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                <i style="font-size:25px;" class="fas fa-comment-dots" data-placement="bottom" data-toggle="tooltip" title="*@Html.DisplayFor(modelItem => item.BookingRequest)"></i>
            </td>
            <td>
                <span style="margin-top:3rem">
                    @Html.DisplayFor(modelItem => item.Employer.User.Email)
                </span>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Employer.Subhurb.SubhurbName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Employer.Subhurb.City.CityName)

            </td>
        </tr>
    }

</table>
<br />
<div style="margin-left:90%;padding-bottom:19rem">
    <div>
        <button onclick="location.href='@Url.Action("freeProfile", "Freel", new {id = ViewBag.user})'" class="btn btn-primary">Back</button>
    </div>
    <div style="padding-top:1rem">
        <button class="btn btn-primary" style="width:6rem" onclick="downloadPDF()">Print</button>
    </div>
</div>



<script>
   

    $(document).ready(function () {
        $('[data-toggle=tooltip]').tooltip();
    });

     function downloadPDF() {

                    var doc = new jsPDF()
                    doc.autoTable({ html:'#table' })
                    doc.save('Clients.pdf')

            }
</script>