﻿
@model INF272_del3.Models.Freelancer
<style>
    .modal-header, h5, .close {
        background-color: steelblue;
        color: white !important;
        text-align: center;
        font-size: 20px;
    }

    .modal-footer {
        background-color: #f9f9f9;
    }


    .pic {
        margin: 5px;
    }
</style>


<div class="navbar bg-primary navbar-expand-lg navbar-fixed-top">
    <div style="padding:4px">
        <a class="navbar-brand" href="#">
            <img src="~/Pictures/Logo2.jpg" alt="logo" style="width:75px;border-radius: 15px;">
        </a>
    </div>
    <div style="margin-top:0.2rem; margin-left:60%">
        <span class="navbar-text" style="padding-right:1rem">
            <label>  @Html.DisplayFor(model => model.Name) @Html.DisplayFor(model => model.Surname):</label>
            <label> @Html.DisplayFor(model => model.Business_Category.Business_Categoty),</label>
            <label> @Html.DisplayFor(model => model.Subhurb.SubhurbName), @Html.DisplayFor(model => model.Subhurb.City.CityName)</label>

        </span>
        <span>  <img src="@Url.Content(Model.User.Image.ImgSource) " style="width:50px;border-radius:50%" /></span>
        <span style="padding-left:2rem;font-size:20px;cursor:pointer;margin-top:1rem" class="glyphicon glyphicon-log-out" data-toggle="modal" data-target="#logout"></span>
    </div>
</div>
<div class="container" style="padding-top:4rem">


    <div class="modal fade" id="logout" tabindex="-1" role="dialog" aria-labelledby="logoutCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteLongTitle">Logout</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Would you like to logout?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-secondary" onclick="location.href='@Url.Action("Login", "Login")'">Confirm</button>
                </div>
            </div>
        </div>
    </div>
</div>




<div class="text-center" style="padding-top:3rem"> <h1>Update <br /> <span> Portfolio</span></h1></div>



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="row" style="padding-bottom:40px;padding-top:2rem">

        <div style="float: left; width: 200%;">
            <div style="margin-left:10%;position:fixed">
                <label for="#v">Enter a description of your work:</label>
                @Html.TextAreaFor(model => model.PortfolioConcept, new { @class = "form-control form-control-full", rows = 10, cols = 50, @style = "resize:none;width:80%;height:120%;border-radius: 10px;", id = "v", placeholder = "Enter text here" })
                @Html.ValidationMessageFor(model => model.PortfolioConcept, "", new { @class = "text-danger" })

            </div>
        </div>

        <div style="float: right; width: 40%;">
            <div style="margin-left:15%">
                <label for="#Photo">Upload photos of your work</label>  <span><i class="glyphicon glyphicon-folder-open"></i></span>
                <textarea type="text" class="form-control" id="Photo"
                          placeholder="Photos will be displayed here:" rows="10" cols="50" maxlength="100"
                          style="width: 80%; height: 90%; max-width: 100%; resize: none; border-radius: 10px;"></textarea>
            </div>
        </div>

    </div>


    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-default" />
        </div>
    </div>

}

