﻿@model IEnumerable<INF272_del3.Models.PortfolioImage>
<style>
    .modal-header, h5, .close {
        background-color: steelblue;
        color: white !important;
        text-align: center;
        font-size: 20px;
    }

    .modal-footer {
        background-color: #f9f9f9;
    }


    .pic {
        margin: 5px;
    }
</style>


<div class="navbar bg-primary navbar-expand-lg navbar-fixed-top">
    <div style="padding:4px">
        <a class="navbar-brand" href="#">
            <img src="~/Pictures/Logo2.jpg" alt="logo" style="width:75px;border-radius: 15px;">
        </a>
    </div>
    <div style="margin-top:0.2rem; margin-left:55%">
        <span class="navbar-text" style="padding-right:1rem">
          
            <label>@ViewBag.fl.Name @ViewBag.fl.Surname:</label>
            <label>@ViewBag.fl.Business_Category.Business_Categoty, </label>
            <label>@ViewBag.fl.Subhurb.SubhurbName, @ViewBag.city </label>

        </span>
        <span>  <img src="@Url.Content(ViewBag.user.Image.ImgSource) " style="width:50px;border-radius:50%;height:45px" /></span>
        <span style="padding-left:2rem;font-size:20px;cursor:pointer;margin-top:1rem" class="glyphicon glyphicon-log-out" data-toggle="modal" data-target="#logout"></span>
    </div>
</div>
<div class="container" style="padding-top:4rem">


    <div class="modal fade" id="logout" tabindex="-1" role="dialog" aria-labelledby="logoutCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteLongTitle">Logout</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Would you like to logout?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-secondary" onclick="location.href='@Url.Action("Index", "Login")'">Confirm</button>
                </div>
            </div>
        </div>
    </div>


    <div class="text-center" style="padding-top:3rem"> <h1>Welcome <br /> <span style="font-size:21px"> this is your profile</span></h1></div>
    <div class="row" style="padding-top:7rem">

        <div class="col-md-6" style="margin-top:1rem;">
            <div style="border:solid;width:75%;height:200px;border-radius:10px;border-color:lightgray">
                <p style="width:40rem;padding-left:1rem;padding-top:1rem">
                    @*@Html.DisplayFor(model => model.PortfolioConcept)*@
                    @ViewBag.fl.PortfolioConcept
                </p>
            </div>
        </div>
        <div class="col-md-6">

            <div class="d-flex flex-row">
                @foreach (var item in Model)
                {
                    <div class="col-md-4">
                        <img style="width:150px;height:100px;" class="img-fluid pic" src="@Url.Content(item.Image.ImgSource) " />
                    </div>

                }

                @* <div class="col-md-4">
                            <img style="width:150px;height:100px;" class="img-fluid pic" src="~/Pictures/plumber1.jpg" />

                        </div>
                        <div class="col-md-4">
                            <img style="width:150px;height:100px;" class="img-fluid pic" src="~/Pictures/plumber2.jpg" />

                        </div>

                        <div class="col-md-4">
                            <img style="width:150px;height:100px;" class="img-fluid pic" src="~/Pictures/plumber3.jpg" />

                        </div>

                    </div>
                    <div class="d-flex flex-row">
                        <div class="col-md-4">
                            <img style="width:150px;height:100px;" class="img-fluid pic" src="~/Pictures/plumber4.jpg" />

                        </div>
                        <div class="col-md-4">
                            <img style="width:150px;height:100px;" class="img-fluid pic" src="~/Pictures/plumber5.jpg" />

                        </div>*@


                <div class="col-md-4">
                    <img src="" style="width:50px;border-radius:50%" />

                </div>

            </div>
        </div>

    </div>
    <div style="padding-bottom:4%;margin-left:92rem;margin-top:4rem;">
        <button style="width:110px" class="btn btn-primary btn-" onclick="window.location.href='@Url.Action("Editprofile", "Freel",new { id = ViewBag.user.UserID })'">Edit Profile</button>
        <button class="btn btn-primary" style="width:100px" onclick="window.location.href='@Url.Action("Clients", "Freel",new { id = ViewBag.fl.FreelancerID })'">Clients</button>
    </div>

</div>


