﻿@model IEnumerable<INF272_del3.Models.Freelancer>

@{
    ViewBag.Title = "Index";
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
@*<link href="~/Content/Project.css" rel="stylesheet" />*@

<span style="margin-left:96%; margin-top:2rem; font-size:20px" class="glyphicon glyphicon-lock" data-toggle="modal" data-target="#logout"></span>

<div class="modal fade" id="logout" tabindex="-1" role="dialog" aria-labelledby="logoutCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteLongTitle">Delete Account</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Would you like to logout?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-secondary" onclick="location.href='@Url.Action("Login", "Login")'">Confirm</button>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-7">
        <img style="width:50%; height:50%;" src="~/Pictures/Logo2.jpg" />
    </div>
</div>

<div>
    <div class="text-center" style="margin-top:7rem; color:purple">
        <h3>Take your pick! Here are South Africa's</h3>
        <h3></h3>
    </div>
</div>
<table class="table  table-hover table-responsive">

    @foreach (var item in Model)
    {

        <tr>
            <td>
                <i class="glyphicon glyphicon-user" style="font-size:55px; margin-bottom:1rem;"></i>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
                @Html.DisplayFor(modelItem => item.Surname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Subhurb.SubhurbName),
                @Html.DisplayFor(modelItem => item.Subhurb.City.CityName)
            </td>
            <td>
                <i class="glyphicon glyphicon-star" style="font-size:32px"></i>
            </td>
            <td>
                <a class="btn btn-primary" id="btnViewProfile" href="@Url.Action("Profiles", "Freel", new { ID = item.FreelancerID })">View Profile</a>
            </td>
        </tr>
    }

</table>


<a class="btn btn-primary" id="bottom" style="float:right;" href="@Url.Action("Index", "Employerts")">Go Back</a>


