﻿@model IEnumerable<INF272_del3.Models.Freelancer>

@{
    ViewBag.Title = "Profiles";
}

<style>


    img {
        margin: 5px;
    }
</style>

<span style="margin-left:96%; margin-top:2rem; font-size:20px" class="glyphicon glyphicon-lock" data-toggle="modal" data-target="#logout"></span>

<div class="modal fade" id="logout" tabindex="-1" role="dialog" aria-labelledby="logoutCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteLongTitle">Delete Account</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Would you like to logout?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-secondary" onclick="location.href='@Url.Action("Login", "Login")'">Confirm</button>
            </div>
        </div>
    </div>
</div>

<div class="row" style="padding-bottom:50px">
    <div class="col-md-6">
        <div style="float:right;margin-top:4rem;margin-right:20rem;">
            <h3>@Html.DisplayFor(model => model.Name) @Html.DisplayFor(model => model.Surname)</h3>
            <h5 style="color:purple">@Html.DisplayFor(model => model.Business_Categoryt.Business_Categoty)</h5>
            <h5 style="color:purple">
                @Html.DisplayFor(modelItem => modelItem.Subhurbt.SubhurbName),
                @Html.DisplayFor(modelItem => modelItem.Subhurbt.Cityt.CityName)
            </h5>
        </div>
        <i class="glyphicon glyphicon-user" style="font-size:100px; margin-top:4rem;"></i>
    </div>

    <div class="col-md-6">
        <div style="margin-top: 4rem">
            <img style="width:50%; height:50%;margin-left:58%; " src="~/Pictures/Logo2.jpg" />
        </div>

    </div>

</div>

<div class="row">

    <div class="col-md-6">
        <p style="width:40rem;">
            Hi My name is Yahil Rathod and i am an experienced plumber.
            I trained at the technical college in Pretoria namely: Tuks Plumbing college.
            I was Top of my class and was able to fix any blocked toilet or dripping pipe.
            I have always prided myself with my exceptional quality contorl and affordability.
            I am available 24/7 for any emergancy and willing to travel vast distances in order to fulfiil
            my duties and oath I undertook at college. I spezialize in pipes and water systems and my favorite jobs
            include clearing out blocked drains and fixing leaks. Make sure to make a booking in advance as i am booked out.
            Call the best flush the rest.
        </p>
    </div>
    <div class="col-md-6">

        <div class="d-flex flex-row">
            <div class="col-md-4">
                <img style="width:150px;height:100px;" class="img-fluid" src="~/Pictures/plumber1.jpg" />

            </div>
            <div class="col-md-4">
                <img style="width:150px;height:100px;" class="img-fluid" src="~/Pictures/plumber2.jpg" />

            </div>

            <div class="col-md-4">
                <img style="width:150px;height:100px;" class="img-fluid" src="~/Pictures/plumber3.jpg" />

            </div>

        </div>
        <div class="d-flex flex-row">
            <div class="col-md-4">
                <img style="width:150px;height:100px;" class="img-fluid" src="~/Pictures/plumber4.jpg" />

            </div>
            <div class="col-md-4">
                <img style="width:150px;height:100px;" class="img-fluid" src="~/Pictures/plumber5.jpg" />

            </div>
            <div class="col-md-4">
                <img style="width:150px;height:100px;" class="img-fluid" src="~/Pictures/plumber6.jpg" />

            </div>

        </div>
    </div>

</div>
<div style="padding-bottom:4%;margin-left:92rem;margin-top:4rem;">
    <button style="width:110px" class="btn btn-primary" onclick="window.location.href='@Url.Action("Book", "Employer")'">Book For Work</button>
    <button class="btn btn-primary" style="width:100px" onclick="window.location.href='@Url.Action("Index", "Freel")'">Back</button>
</div>

<span style="margin-right:96%; margin-top:2rem; font-size:20px" class="glyphicon glyphicon-warning-sign" data-toggle="modal" data-target="#report"></span>

<div class="modal fade" id="report" tabindex="-1" role="dialog" aria-labelledby="reportCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Report Account</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body center-block text-center text-info">

                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="inputGroupSelect01">Please select your reason to report the account</label>
                    </div>
                    <select class="custom-select" id="inputGroupSelect01" required>
                        <option selected required>Choose...</option>
                        <option value="1">Violent Content</option>
                        <option value="2">Harmful Acts</option>
                        <option value="3">Spam</option>
                        <option value="4">Offensive Pictures</option>
                    </select>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="myFunction()">Confirm</button>
            </div>
        </div>
    </div>
</div>

<script>
    function myFunction() {
        alert("Your concern has been noted. We will look into it. Thank you");
    }
</script>