﻿@model INF272_del3.Models.Freelancer
    <style>
        [hidden] {
            display: none !important;
        }
    </style>

<div class="row" style="padding-bottom:2rem">
    <div class="col-md-4">
        <img style="width:70%; height:70%;" src="~/Pictures/Logo2.jpg" />
    </div>



    <div class="text-center col-md-4" style="margin-top:5rem;">
        <h2> You are now registered</h2>
    </div>

    <div class="col-md-4">

    </div>

</div>

@using (Html.BeginForm("CreatePotfolio","Registration",FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

<div class="row" style="padding-bottom:3rem;">

    <div style="float: left; width: 200%;position:fixed">
        <div style="margin-left:10%;position:fixed">
            <label for="#v">Enter a description of your work:</label>
            @Html.TextAreaFor(model => model.PortfolioConcept, new { @class = "form-control form-control-full", rows = 10, cols = 50, @style = "resize:none;width:80%;height:120%;border-radius: 10px;", id = "v", placeholder = "Enter text here" })
            @Html.ValidationMessageFor(model => model.PortfolioConcept, "", new { @class = "text-danger" })

        </div>
    </div>

    <div style="float: right; width: 40%;">
        <div style="margin-left:15%;padding-bottom:0.5rem">
            <label for="#Photo">Upload photos of your work</label>
            <label class="btn btn-primary">
                <i class="glyphicon glyphicon-folder-open"></i>
                @Html.TextBoxFor(model => model.Files, "", new { @type = "file", @multiple = "multiple", @class = "hidden" })
            </label>
        </div>

        <div id="dvPreview">
        </div>
    </div>

    <div class="form-group" style="margin-left:78%; margin-top:30rem;padding-top:1.5rem">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-default" />
        </div>
    </div>

</div>


   

}

<script language="javascript" type="text/javascript">
    window.onload = function () {
        var fileUpload = document.getElementById("Files");
        fileUpload.onchange = function () {
            if (typeof (FileReader) != "undefined") {
                var dvPreview = document.getElementById("dvPreview");
                dvPreview.innerHTML = "";
                var regex = /^([a-zA-Z0-9\s_\\.\-:])+(.jpg|.jpeg|.gif|.png|.bmp)$/;
                for (var i = 0; i < fileUpload.files.length; i++) {
                    var file = fileUpload.files[i];
                    if (regex.test(file.name.toLowerCase())) {
                        var reader = new FileReader();
                        reader.onload = function (e) {
                            var img = document.createElement("IMG");
                            img.height = "100";
                            img.width = "100";
                            img.src = e.target.result;
                            dvPreview.appendChild(img);
                        }
                        reader.readAsDataURL(file);
                    } else {
                        alert(file.name + " is not a valid image file.");
                        dvPreview.innerHTML = "";
                        return false;
                    }
                }
            } else {
                alert("This browser does not support HTML5 FileReader.");
            }
        }
    };
</script>

