﻿@model INF272_del3.Models.User


<head>
    <style>
        [hidden] {
            display: none !important;
        }
    </style>
    <script>
        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#ImageId')
                        .attr('src', e.target.result);
                };

                reader.readAsDataURL(input.files[0]);
            }
        }
    </script>
</head>


<div class="row" style="padding-bottom:15px">
    <div class="col-md-5">
        <img style="width:50%; height:50%;" src="~/Pictures/Logo2.jpg" />


    </div>
    <div class="col-md-2">
        <div class="text-center" style="margin-top:7rem">



        </div>
    </div>
    <div class="col-md-5">

    </div>
</div>


@using (Html.BeginForm( "Create","Registration",FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="row">
        <div style="padding-bottom:3rem;margin-left:5rem">
            <h3>Some Account details:</h3>
        </div>


        <div class="col-md-6 form-horizontal">
            <div class="form-group form-inline" style="margin-left:4rem">
                <label>Account type :</label>
                @Html.DropDownList("AccountTypeID", null, htmlAttributes: new { @class = "form-control", @style = "width:200px;margin-left:5rem",required = "required" })
                <br />
                @Html.ValidationMessageFor(model => model.AccountTypeID, "", new { @class = "text-danger" })
            </div>
            <br />
            <div class="form-group form-inline" style="margin-left:4rem">
                <label>Username:</label>

                @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control", @style = "width:200px;margin-left:7.5rem", required = "required" } })
                <br />
                @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })

            </div>

            <br />
            <div class="form-group form-inline" style="margin-left:4rem">
                <label>Email:</label>

                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @style = "width:200px;margin-left:10.6rem", required = "required", type = "email" } })
                <br />
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })

            </div>

            <br />

            <div class="form-group form-inline" style="margin-left:4rem">
                <label>Password:</label>
                @Html.EditorFor(model => model.Userpassword, new { htmlAttributes = new { @class = "form-control", @style = "width:200px;margin-left:7.7rem", required = "required", type = "password", @minLength = "9" } })
                <br />
                @Html.ValidationMessageFor(model => model.Userpassword, "", new { @class = "text-danger" })
            </div>
            <br />

            <div class="form-group form-inline" style="margin-left:4rem">
                <label class="text-center">Confirm<br /> Password:</label>
                @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control", @style = "width:200px;margin-left:7.5rem" } })
                <br />
                @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
            </div>

            <br />
            <div class="form-group form-inline" style="margin-left:4rem">
                <label class="text-center">Security <br /> Quetion:</label>
                @Html.DropDownList("SecurityID", null, htmlAttributes: new { @class = "form-control", @style = "width:200px;margin-left:9rem", required = "required" })
                <br />
                @Html.ValidationMessageFor(model => model.SecurityID, "", new { @class = "text-danger" })
            </div>
            <br />
            <div class="form-group form-inline" style="margin-left:4rem">
                <label> Answer:</label>
                <input type="text" class="form-control" style="width:200px;margin-left:9.3rem" />
            </div>
            <br />


        </div>


        <div class="col-md-6">

            <div class="control-group">

                <div class="controls" style="margin-left:12rem">
                    <div class="form-group">
                        <label for="Image"> <b> Upload a photo of yourself:</b> </label>
                        <label class="btn btn-primary">
                            <i class="glyphicon glyphicon-folder-open"></i><input type="file"   name="file" onchange="readURL(this)"  required hidden>
                        </label>
                    </div>

                    <img id="ImageId" style="height:250px; width:350px; object-fit:fill; border-radius:15px; border:solid; color:lightgray" />
                </div>
            </div>
            <br />


        </div>




    </div>
    <div>
        <div style="margin-left:80%;">

            <input type="submit" value="Next step" class="btn btn-default" />

        </div>

    </div>

}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

