﻿
@model INF272_del3.Viewmodels.typeEmployer



<div class="row" style="padding-bottom:15px">
    <div class="col-md-5">
        <img style="width:50%; height:50%;" src="~/Pictures/Logo2.jpg" />


    </div>
    <div class="col-md-2">
        <div class="text-center" style="margin-top:7rem">



        </div>
    </div>
    <div class="col-md-5">

    </div>
</div>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()


    <div class="row">
        <div hidden class="form-group">
            @Html.LabelFor(model => model.UserID, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.UserID, new { htmlAttributes = new { @class = "form-control" } })
                <br />
                @Html.ValidationMessageFor(model => model.UserID, "", new { @class = "text-danger" })
            </div>

        </div>
        <div style="padding-bottom:3rem;margin-left:5rem">
            <h3>Some personal details:</h3>
        </div>
        <div class="col-md-6 form-horizontal">

            <div class="form-group form-inline" style="margin-left:4rem">
                <label>Business Name:</label>
                @Html.EditorFor(model => model.BusinessName, new { htmlAttributes = new { @class = "form-control", @style = "width:200px;margin-left:4.5rem;", required ="required" } })
                <br />
                @Html.ValidationMessageFor(model => model.BusinessName, "", new { @class = "text-danger" })

            </div>
            <br />

            <div class="form-group form-inline" style="margin-left:4rem">
                <label>Name:</label>
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", @style = "width:200px;margin-left:11.2rem;", required ="required" } })
                <br />
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
            <br />
            <div class="form-group form-inline" style="margin-left:4rem">
                <label>Surname:</label>
                @Html.EditorFor(model => model.Surname, new { htmlAttributes = new { @class = "form-control", @style = "width:200px;margin-left:9rem;", required ="required" } })
                @Html.ValidationMessageFor(model => model.Surname, "", new { @class = "text-danger" })
            </div>
            <br />

            <div class="form-group form-inline" style="margin-left:4rem">
                <label>City:</label>
                @Html.DropDownList("CityID", null, htmlAttributes: new { @class = "form-control", @style = "width:200px;margin-left:12.3rem", required ="required" })
                <br />
                @Html.ValidationMessageFor(model => model.CityID, "", new { @class = "text-danger" })

            </div>

            <br />

            <div class="form-group form-inline" style="margin-left:4rem">
                <label>Suburb:</label>
                @Html.EditorFor(model => model.SubhurbName, new { htmlAttributes = new { @class = "form-control", @style = "width:200px;margin-left:10rem;", required ="required" } })
                <br />
                @Html.ValidationMessageFor(model => model.SubhurbName, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <br />
    <div>
        <div style="margin-left:80%;">

            <input type="submit" value="Register" class="btn btn-default" />

        </div>

    </div>


}


