﻿@model IEnumerable<INF272_del3.Models.Freelancer>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Surname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PortfolioConcept)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Business_Category.Business_Categoty)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Subhurb.SubhurbName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User.Userpassword)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Surname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PortfolioConcept)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Business_Category.Business_Categoty)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Subhurb.SubhurbName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User.Userpassword)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.FreelancerID }) |
            @Html.ActionLink("Details", "Details", new { id=item.FreelancerID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.FreelancerID })
        </td>
    </tr>
}

</table>
