﻿@model WebApplication1.ViewModels.typeEmployer
@{
    ViewBag.Title = "Index";
}

<style>
    .zoom:hover {
        -ms-transform: scale(1.5);
        -webkit-transform: scale(1.5);
        transform: scale(1.5);
    }
</style>


<!--Modal to logout-->

<div class="container">
    <div>
        <span style="margin-left:96%; margin-top:2rem; font-size:20px" class="glyphicon glyphicon-lock" data-toggle="modal" data-target="#logout"></span>

        <div class="modal fade" id="logout" tabindex="-1" role="dialog" aria-labelledby="logoutCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h3 class="modal-title" id="deleteLongTitle">Do you want to log out?</h3>
                    </div>
                    <div class="modal-body">
                        You will loose all unsaved work if you log out. Press 'Cancel' to return to page or 'Confirm' to continue.
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        <button type="button" class="btn btn-secondary" onclick="location.href='@Url.Action("Login", "Login")'">Confirm</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--LOGO-->
    <div class="row" style="padding-bottom:50px">

        <div class="col-md-7">
            <div>
                <img style="width:50%; height:50%;" src="~/Pictures/Logo2.jpg" />
            </div>
        </div>
        <!--ICONS-->
        <div class="col-md-5">
            <i class="glyphicon glyphicon-user" style="font-size:100px; margin-bottom:1rem;"></i>
            <div style="float:left;margin-top:4rem;margin-left:20rem; margin-right:2rem;">
                <h4> Welcome</h4>
                <h5>@Model.Name</h5>
            </div>
        </div>

    </div>

    <div class="text-center" style=" color:purple">
        <h3>Select a category of work you are looking for:</h3><br /><br />
    </div>


    <div class="row" style="padding-top:2rem">
        <div class="col-md-4">
            <!--Plumber-->
            <div class="text-center">
                <button class="btn btn-lg zoom" onclick="location.href='@Url.Action("Index", "Freelancerts", new { })'"
                        style="width:300px;height:180px;background-image: url(/Pictures/plumb.jpg); background-repeat:no-repeat;
                                background-size:50%; background-size:cover;color:darkgray;font-size:20px;transition: transform 0.8s; border-radius:14px ">
                    Plumber
                </button>
            </div>
        </div>
        <!--Landscaping-->
        <div class="col-md-4">
            <div class="text-center">
                <button class="btn btn-lg zoom" onclick="location.href='@Url.Action("Index", "Freelancerts", new { /* id=item.PrimaryKey */ })'"
                        @*a id="btnViewUser" href="@Url.Action("ViewUser", new { ID = account.ID })" value="View" class="viewButton*@
                        style="width:300px;height:180px ;background-image: url(/Pictures/land.jpg); background-repeat:no-repeat;
                                            background-size:50%; background-size:cover;color:black;font-size:20px;transition: transform 0.8s; border-radius:14px">
                    Landscaping
                </button>
            </div>

        </div>

        <!--Photography-->
        <div class="col-md-4">
            <div class="text-center">
                <button class="btn btn-lg zoom" onclick="location.href='@Url.Action("Index", "Freelancerts")'"
                        style="width:300px;height:180px;background-image: url(/Pictures/photo.jpg); background-repeat:no-repeat;
                                  background-size:50%; background-size:cover;color:black;font-size:20px;transition: transform 0.8s; border-radius:14px ">
                    Photographer
                </button>
            </div>

        </div>
    </div>

    <!--Electrician-->
    <div class="row" style="padding-top:4rem">
        <div class="col-md-4">
            <div class="text-center">
                <button class="btn btn-lg zoom" onclick="location.href='@Url.Action("Index", "Freelancerts")'"
                        style="width:300px;height:180px;background-image: url(/Pictures/elec.jpg); background-repeat:no-repeat;
                               background-size:50%; background-size:cover;color:black;font-size:20px;transition: transform 0.8s; border-radius:14px ">
                    Electrician
                </button>
            </div>
        </div>

        <!--Painting-->
        <div class="col-md-4">
            <div class="text-center">
                <button class="btn btn-lg zoom" onclick="location.href = '@Url.Action("Index", "Freelancerts")'
                       " style="width:300px;height:180px;background-image: url(/Pictures/images.jpg); background-repeat:no-repeat;
                        background-size:50%; background-size:cover;color:black;font-size:20px;transition: transform 0.8s; border-radius:14px">
                    Painting
                </button>
            </div>

        </div>

        <!--Graphic Designer-->
        <div class="col-lg-4">
            <div class="text-center">
                <button class="btn btn-lg zoom" onclick="location.href='@Url.Action("Index", "Freelancerts")'"
                        style="width: 300px; height: 180px; background-image: url(/Pictures/graphic.jpg); background-size: cover;
                            color: white; font-size: 20px; transition: transform 0.8s; border-radius: 12px">
                    Graphic Designer
                </button>
            </div>

        </div>
    </div>
    }

</div>
<button class="btn btn-warning" style="float:right; margin-top:20px; margin-right:10px; background-color:purple;" onclick="location.href='@Url.Action("PastBookings", "Employer")'">Previous Bookings</button>


